################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rest_Api_Module_SDA/Rest_Api_Module_SDA.csproj.user
/Rest_Api_Module_SDA/obj/Debug/net6.0/Rest_Api_Module_SDA.pdb
/Rest_Api_Module_SDA/obj/Debug/net6.0/Rest_Api_Module_SDA.MvcApplicationPartsAssemblyInfo.cs
/Rest_Api_Module_SDA/obj/Debug/net6.0/Rest_Api_Module_SDA.dll
/Rest_Api_Module_SDA/obj/Debug/net6.0/Rest_Api_Module_SDA.csproj.CoreCompileInputs.cache
/Rest_Api_Module_SDA/obj/Debug/net6.0/Rest_Api_Module_SDA.csproj.AssemblyReference.cache
/Rest_Api_Module_SDA/obj/Debug/net6.0/refint/Rest_Api_Module_SDA.dll
/Rest_Api_Module_SDA/obj/Debug/net6.0/ref/Rest_Api_Module_SDA.dll
/Rest_Api_Module_SDA/bin/Debug/net6.0/DataLayer.dll
/Rest_Api_Module_SDA/bin/Debug/net6.0/Rest_Api_Module_SDA.pdb
/Rest_Api_Module_SDA/bin/Debug/net6.0/Rest_Api_Module_SDA.dll
/Rest_Api_Module_SDA/bin/Debug/net6.0/DataLayer.pdb
/DataLayer/obj/Debug/net6.0/DataLayer.pdb
/DataLayer/obj/Debug/net6.0/DataLayer.dll
/DataLayer/obj/Debug/net6.0/refint/DataLayer.dll
/DataLayer/obj/Debug/net6.0/DataLayer.csproj.CoreCompileInputs.cache
/DataLayer/obj/Debug/net6.0/DataLayer.csproj.BuildWithSkipAnalyzers
/DataLayer/obj/Debug/net6.0/ref/DataLayer.dll
/DataLayer/bin/Debug/net6.0/DataLayer.pdb
/DataLayer/bin/Debug/net6.0/DataLayer.dll
/.vs/Rest_Api_Module_SDA/v17/.suo
/.vs/Rest_Api_Module_SDA/v17/.futdcache.v2
/.vs/Rest_Api_Module_SDA/FileContentIndex/a11d747a-0835-4cea-852e-96841e82d56d.vsidx
/.vs/Rest_Api_Module_SDA/FileContentIndex/95eb908a-bbb4-4012-a50a-a73fdab01b33.vsidx
/.vs/Rest_Api_Module_SDA/FileContentIndex/61d8fca1-5f8f-43d5-91f3-e1b373a01d4e.vsidx
/.vs/Rest_Api_Module_SDA/FileContentIndex/1a5b0a19-88fb-4d1b-8c1f-091ee64d5fa9.vsidx
